<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :description, :label => "Was?" %>

    <%= f.input :time, :label => "Wann?", :input_html => {:class => 'input-mini' } %>

    <%= f.input :place, :label => "Wo?" %>

    <div class="form-actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to 'Abbrechen', posts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
