<div class="row">
    <div class="span8">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thema</th>
                    <!-- <th>Kommentare</th> -->
                    <th>Letzte Aktivität</th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each do |post| %>
                <tr>
                    <td>
                        <%= format_link(post) %>
                        <%= is_new_post(post) %>
                        <%= new_comments(post) %>
                    </td>
                    <!-- <td><%= post.comments.size %></td> -->
                    <td>vor <%= format_time_diff post.last_activity %>
                        <i>(<%= post.last_active_user.name %>)</i></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <%= will_paginate @posts, :class=> "pager",
                    :previous_label => "&larr;", :next_label => "&rarr;",
                    :page_links => false,
                    :style => "font-size: 200%"  %>

        <div class="well">
            <%= link_to 'Neue Diskussion erstellen', new_post_path,
            :class => 'btn btn-primary btn-large' %>
        </div>
    </div>

    <div class="span4">
        <div class="well">
            <h2>Termine</h2>
            <% @events.each do |event| %>
            <blockquote class="event">
                <small><strong>Wann?</strong> <span class="label"><%= event.time %></span></small>
                <p><%= event.description %></p>
                <small><strong>Wo?</strong> <%= event.place %></small>
            </blockquote>
            <% end %>

            <%= link_to 'Neuen Termin erstellen', new_event_path,
                :class => 'btn' %>

        </div>
    </div>
</div>
