<div class="post">
  <div class="header">
    <span class="author"><%= @post.user.name %></span>
    <span class="date"><%= localize(@post.updated_at, :format => :short) %></span>
  </div>

  <div class="body" id="discussion_box">
    <div class="model_message_box">
      <%= @post.message_html %>
    </div>
  </div>
  <hr />
  <div class="footer">
    <%= simple_form_for([@post, @post.comments.build],
          :html => { :class => 'form-inline' } ) do |f| %>

    <%= f.text_area :message, :class => 'comment_box', :cols => 0, :rows => 2 %>

    <div class="actions">
      <a class="btn" data-toggle="modal" href="#howto">Hinweise</a>

      <% if current_user == @post.user -%>
        <%= link_to 'Bearbeiten', edit_post_path(@post), :class => 'btn' %>
      <% end -%>

      <%= f.submit "Kommentieren", :class => 'btn btn-inverse' %>
    </div>

    <% end %>
  </div>
</div>

<div id="comments">
  <% @post.comments.each do |comment| %>

    <% if comment.valid? %>
      <div class="comment">
        <blockquote>
          <div class="model_message_box">
          <%= comment.message_html  %>
          </div>
          <small><%= comment.user.name %> vor
            <%= format_time_diff(comment.created_at) %></small>
        </blockquote>
      </div>
    <% end %>
  <% end %>
</div>

<div class="well">
  <%= link_to 'Zurück zur Übersicht', posts_path, :class => 'btn'  %>
</div>

<div class="modal fade" id="howto">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Hinweise für das Diskutieren</h3>
  </div>
  <div class="modal-body">
    <h3>Features beim Diskutieren:</h3>
    <ul>
      <li>Darstellung von mathematischen Formeln in
      verschiedenen Formen (Latex, MathML, AsciiMath)</li>
      <li>Automatisches Erkennen von Links</li>
      <li>Erkennen von Youtube-Links und Einbetten des jeweiligen Videos</li>
      <li>Integration einer Google Maps Karte durch Posten eines links</li>
      <li>Einbetten von Github Gists (Codeschnipsel)</li>
      <li>Markdown-Support (nicht in Kommentaren)</li>
      <li>Einbinden von Bildern (bei Kommentaren nur der Link)</li>
    </ul>
  </div>
  <div class="modal-footer">

  </div>
</div>

