<div class="post">
  <div class="header">
    <span class="author"><%= @post.user.name %></span>
    <span class="date"><%= localize(@post.updated_at, :format => :short) %></span>
  </div>

  <div class="body">
    <div class="model_message_box">
      <%= simple_format(@post.message) %>
    </div>
  </div>
  <hr />
  <div class="footer">
    <%= simple_form_for([@post, @post.comments.build],
          :html => { :class => 'form-inline' } ) do |f| %>

    <%= f.text_area :message, :class => 'comment_box', :cols => 0, :rows => 2 %>

    <div class="actions">
      <a class="btn" data-toggle="modal" href="#howto">Hinweise</a>

      <% if current_user == @post.user -%>
        <%= link_to 'Bearbeiten', edit_post_path(@post), :class => 'btn' %>
      <% end -%>

      <%= f.submit "Kommentieren", :class => 'btn btn-inverse' %>
    </div>

    <% end %>
  </div>
</div>

<div id="comments">
  <% @post.comments.each do |comment| %>

    <% if comment.valid? %>
      <div class="comment">
        <blockquote>
          <div class="model_message_box">
          <%= simple_format(comment.message)  %>
          </div>
          <small><%= comment.user.name %> vor
            <%= format_time_diff(comment.created_at) %></small>
        </blockquote>
      </div>
    <% end %>
  <% end %>
</div>

<div class="well">
  <%= link_to 'Zurück zur Übersicht', posts_path, :class => 'btn'  %>
</div>

<script type="text/javascript">
  // emoticons
  $(document).ready(function(){
      $('div.post > div.body').emoticonize({
        //delay: 800,
        animate: false
        //exclude: 'pre, code, .no-emoticons'
        });
      $('#comments > div.comment').emoticonize({
        //delay: 800,
        animate: false
        //exclude: 'pre, code, .no-emoticons'
        });
      });
</script>

<div class="modal fade" id="howto">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Hinweise für das Diskutieren</h3>
  </div>
  <div class="modal-body">
    <h3>Features beim Diskutieren:</h3>
    <ul>
      <li>Automatisches Erkennen von Emoticons</li>
      <li>Darstellung von mathematischen Formeln in
      verschiedenen Formen (Latex, MathML, AsciiMath)</li>
    </ul>
  </div>
  <div class="modal-footer">

  </div>
</div>

