<h1>Diskussion #<%= @post.id %></h1>

<div class="post">
  <div class="header">
    <span class="author">Max Mustermann</span>
    <span class="date"><%= @post.updated_at %></span>
  </div>

  <div class="body">
    <%= @post.message %>
  </div>
  <div class="footer">
    <%= simple_form_for([@post, @post.comments.build], 
          :html => { :class => 'form-inline' } ) do |f| %>

    <%= f.text_field :message %>
    <%= f.submit "kommentieren", :class => 'btn btn-inverse btn-small' %>

    <% end %>
  </div>  
</div>

<div id="comments">
  <% @post.comments.each do |comment| %>

    <% if comment.valid? %>
      <div class="comment">
        <blockquote>
          <p>
          <%= comment.message  %>
          </p>
          <small>Hans Wurst vor 
            <%= format_time_diff(comment.created_at) %></small>
        </blockquote>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', posts_path, :class => 'btn'  %>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %>
