<div class="post">
  <div class="header">
    <span class="author"><%= @post.user.name %></span>
    <span class="date"><%= localize(@post.updated_at, :format => :short) %></span>
  </div>

  <div class="body">
    <div class="model_message_box">
      <%= simple_format(@post.message) %>
    </div>
  </div>
  <div class="footer">
    <%= simple_form_for([@post, @post.comments.build],
          :html => { :class => 'form-inline' } ) do |f| %>

    <%= f.text_area :message, :class => 'comment_box', :cols => 0, :rows => 2 %>

    <div class="actions">
      <%= link_to 'Übersicht', posts_path, :class => 'btn'  %>
      <%= f.submit "Kommentieren", :class => 'btn btn-inverse' %>
    </div>

    <% end %>
  </div>
</div>

<div id="comments">
  <% @post.comments.each do |comment| %>

    <% if comment.valid? %>
      <div class="comment">
        <blockquote>
          <div class="model_message_box">
          <%= simple_format(comment.message)  %>
          </div>
          <small><%= comment.user.name %> vor
            <%= format_time_diff(comment.created_at) %></small>
        </blockquote>
      </div>
    <% end %>
  <% end %>
</div>

<div class="well">
  <%= link_to 'Zurück zur Übersicht', posts_path, :class => 'btn'  %>
  <%= link_to 'Bearbeiten', edit_post_path(@post), :class => 'btn btn-primary' %>
</div>

<script type="text/javascript">
  // emoticons
  $(document).ready(function(){
      $('div.post > div.body').emoticonize({
        //delay: 800,
        animate: false
        //exclude: 'pre, code, .no-emoticons'
        });
      $('#comments > div.comment > blockquote > p').emoticonize({
        //delay: 800,
        animate: false
        //exclude: 'pre, code, .no-emoticons'
        });
      });
</script>

