<div class="post">
  <div class="header">
    <span class="author"><%= @post.user.name %></span>
    <span class="date"><%= localize(@post.updated_at, :format => :short) %></span>
  </div>

  <div class="body">
    <%= @post.message %>
  </div>
  <div class="footer">
    <%= simple_form_for([@post, @post.comments.build],
          :html => { :class => 'form-inline' } ) do |f| %>

    <%= f.text_field :message %>
    <%= f.submit "kommentieren", :class => 'btn btn-inverse btn-small' %>

    <% end %>
  </div>
</div>

<div id="comments">
  <% @post.comments.each do |comment| %>

    <% if comment.valid? %>
      <div class="comment">
        <blockquote>
          <p>
          <%= comment.message  %>
          </p>
          <small><%= comment.user.name %> vor
            <%= format_time_diff(comment.created_at) %></small>
        </blockquote>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', posts_path, :class => 'btn'  %>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %>

<script type="text/javascript">
  $(document).ready(function(){
      $('div.post > div.body').emoticonize({
        //delay: 800,
        animate: false
        //exclude: 'pre, code, .no-emoticons'
        });
      $('#comments > div.comment > blockquote > p').emoticonize({
        //delay: 800,
        animate: false
        //exclude: 'pre, code, .no-emoticons'
        });
      });
</script>

